---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Container from "src/components/container.astro";
import Sectionhead from "src/components/sectionhead.astro";
import Layout from "src/layouts/Layout.astro";
import BlogCard from "src/components/ui/blogcard.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <BlogCard
                slug={blogPostEntry.slug}
                data={blogPostEntry.data}
                index={index}
              />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
