<div class="mt-24">
  <h2 class="text-center text-slate-500">Technologies i work on</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M19.108 12.376q-.176-.201-.371-.403q.136-.144.264-.287c1.605-1.804 2.283-3.614 1.655-4.701c-.602-1.043-2.393-1.354-4.636-.918q-.331.065-.659.146q-.063-.216-.133-.43C14.467 3.49 13.238 1.999 11.982 2c-1.204 0-2.368 1.397-3.111 3.558q-.11.32-.203.644q-.219-.054-.44-.1c-2.366-.485-4.271-.165-4.898.924c-.601 1.043.027 2.75 1.528 4.472q.224.255.46.5c-.186.19-.361.381-.525.571c-1.465 1.698-2.057 3.376-1.457 4.415c.62 1.074 2.498 1.425 4.785.975q.278-.055.553-.124q.1.351.221.697C9.635 20.649 10.792 22 11.992 22c1.24 0 2.482-1.453 3.235-3.659c.06-.174.115-.355.169-.541q.355.088.715.156c2.203.417 3.952.09 4.551-.95c.619-1.075-.02-2.877-1.554-4.63M4.07 7.452c.386-.67 1.943-.932 3.986-.100q.196.04.399.09a20.464 20.464 0 0 0-.422 2.678A20.887 20.887 0 0 0 5.93 11.4q-.219-.227-.427-.465C4.216 9.461 3.708 8.081 4.07 7.452m3.887 5.728c-.51-.387-.985-.783-1.416-1.181c.43-.396.905-.79 1.415-1.176q-.028.589-.027 1.179q0 .59.028 1.178m0 3.94a7.237 7.237 0 0 1-2.64.094a1.766 1.766 0 0 1-1.241-.657c-.365-.63.111-1.978 1.364-3.43q.236-.273.488-.532a20.49 20.49 0 0 0 2.107 1.7a20.802 20.802 0 0 0 .426 2.712q-.25.063-.505.114Zm7.1-8.039q-.503-.317-1.018-.613q-.508-.292-1.027-.563a18.7 18.7 0 0 1 1.739-.635a18.218 18.218 0 0 1 .306 1.811M9.68 5.835c.636-1.85 1.578-2.98 2.304-2.98c.773-.001 1.777 1.218 2.434 3.197q.064.194.12.39a20.478 20.478 0 0 0-2.526.97a20.061 20.061 0 0 0-2.52-.981q.087-.3.188-.596m-.4 1.424a18.307 18.307 0 0 1 1.73.642q-1.052.542-2.048 1.181c.08-.638.187-1.249.318-1.823m-.317 7.66q.497.319 1.009.613q.522.3 1.057.576a18.196 18.196 0 0 1-1.744.665a19.144 19.144 0 0 1-.322-1.853Zm5.456 3.146a7.236 7.236 0 0 1-1.238 2.333a1.766 1.766 0 0 1-1.188.748c-.729 0-1.658-1.085-2.29-2.896q-.112-.321-.206-.648a20.109 20.109 0 0 0 2.53-1.01a20.8 20.8 0 0 0 2.547.979q-.072.249-.155.494m.362-1.324a19.267 19.267 0 0 1-1.762-.646q.509-.267 1.025-.565q.53-.306 1.032-.627a18.152 18.152 0 0 1-.295 1.838m.447-4.743q0 .911-.057 1.82c-.493.334-1.013.66-1.554.972c-.54.311-1.073.597-1.597.856q-.827-.396-1.622-.854q-.79-.455-1.544-.969q-.07-.91-.07-1.822q0-.911.068-1.821a24.168 24.168 0 0 1 3.158-1.823q.816.397 1.603.851q.79.454 1.55.959q.065.914.065 1.831m.956-5.093c1.922-.373 3.37-.122 3.733.507c.387.67-.167 2.148-1.554 3.706q-.115.129-.238.259a20.061 20.061 0 0 0-2.144-1.688a20.04 20.04 0 0 0-.405-2.649q.31-.076.608-.135m-.13 3.885a18.164 18.164 0 0 1 1.462 1.188a18.12 18.12 0 0 1-1.457 1.208q.023-.594.023-1.188q0-.604-.028-1.208m3.869 5.789c-.364.631-1.768.894-3.653.538q-.324-.061-.664-.146a20.069 20.069 0 0 0 .387-2.682a19.94 19.94 0 0 0 2.137-1.715q.177.183.336.364a7.234 7.234 0 0 1 1.403 2.238a1.766 1.766 0 0 1 .054 1.403m-8.819-6.141a1.786 1.786 0 1 0 2.44.654a1.786 1.786 0 0 0-2.44-.654"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 128 128"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 51.098V76.86h4.422V56.604L20.73 76.87h27.694v-4.113H30.553v-6.801h14.37v-4.113h-14.37v-6.621h17.87v-4.116H26.13v4.116h.002V76.68L5.527 51.098zm85.09.01v4.115h9.03v21.65h4.42v-21.65h8.847v-4.116H85.09zm-31.322.011l20.73 25.764h5.803L69.936 64.01l10.35-12.871l-5.79.01l-7.459 9.261l-7.48-9.29h-5.79zm70.158 14.598c-.761 0-1.445.128-2.051.394c-.602.263-1.078.633-1.426 1.108c-.35.476-.525 1.032-.525 1.664c0 .77.258 1.384.78 1.847c.517.464 1.227.809 2.124 1.036l1.24.312a7.02 7.02 0 0 1 1.026.334a1.91 1.91 0 0 1 .683.461a1.034 1.034 0 0 1 .248.697a1.25 1.25 0 0 1-.283.803a1.77 1.77 0 0 1-.76.535a3.11 3.11 0 0 1-1.132.192a3.24 3.24 0 0 1-1.116-.182a1.902 1.902 0 0 1-.804-.557a1.63 1.63 0 0 1-.352-.931h-1.941c.027.71.216 1.316.566 1.812s.836.873 1.46 1.13c.62.26 1.357.39 2.202.39c.875 0 1.619-.136 2.233-.4c.617-.27 1.088-.643 1.414-1.118c.327-.479.488-1.028.488-1.658c0-.466-.09-.872-.266-1.217a2.726 2.726 0 0 0-.72-.887a4.227 4.227 0 0 0-1.028-.607a7.09 7.09 0 0 0-1.19-.385l-1.02-.25a6.975 6.975 0 0 1-.667-.195a2.82 2.82 0 0 1-.597-.285a1.304 1.304 0 0 1-.43-.418a1.037 1.037 0 0 1-.158-.58a1.21 1.21 0 0 1 .238-.717c.156-.21.385-.376.678-.5a2.771 2.771 0 0 1 1.056-.184c.585 0 1.062.126 1.43.383a1.424 1.424 0 0 1 .623 1.07h1.9a2.775 2.775 0 0 0-.513-1.607c-.333-.466-.792-.833-1.377-1.096c-.584-.265-1.26-.394-2.033-.394m-7.998.144v7.55c-.003.377-.062.697-.176.954a1.25 1.25 0 0 1-.506.584c-.218.133-.488.2-.803.2c-.29 0-.546-.057-.771-.17a1.247 1.247 0 0 1-.522-.481a1.474 1.474 0 0 1-.195-.75h-1.963c0 .661.147 1.213.447 1.656a2.768 2.768 0 0 0 1.211 1.002a4.22 4.22 0 0 0 1.72.34c.697 0 1.311-.134 1.835-.4a2.97 2.97 0 0 0 1.236-1.149c.293-.499.444-1.093.448-1.787v-7.549zm-53.332.059l-8.844 10.982h5.805l5.937-7.38zm45.785 8.498c-.324 0-.6.112-.83.336a1.07 1.07 0 0 0-.344.807a1.082 1.082 0 0 0 .344.818c.23.225.506.336.83.336a1.105 1.105 0 0 0 .574-.156a1.2 1.2 0 0 0 .428-.416a1.115 1.115 0 0 0 .166-.582a1.097 1.097 0 0 0-.354-.807a1.133 1.133 0 0 0-.814-.336"
      ></path>
    </svg>

    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944c.856 1.026 2.043 1.352 3.272 1.535c1.897.283 3.76.177 5.522-.678c.202-.098.388-.229.608-.36c.166.473.209.95.151 1.437c-.14 1.185-.738 2.1-1.688 2.794c-.38.277-.782.525-1.175.787c-1.205.804-1.531 1.747-1.078 3.119l.044.148a3.158 3.158 0 0 1-1.407-1.188a3.31 3.31 0 0 1-.544-1.815c-.004-.32-.004-.642-.048-.958c-.106-.769-.472-1.113-1.161-1.133c-.707-.02-1.267.411-1.415 1.09c-.012.053-.028.104-.045.165zm-5.961-4.445s3.24-1.575 6.49-1.575l2.451-7.565c.092-.366.36-.614.662-.614c.302 0 .57.248.662.614l2.45 7.565c3.85 0 6.491 1.575 6.491 1.575L16.088.727C15.93.285 15.663 0 15.303 0H8.697c-.36 0-.615.285-.784.727z"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M15.994 3c-.365 0-.73.09-1.045.27L5.04 8.99C4.4 9.36 4 10.06 4 10.8v10.38c0 .75.4 1.44 1.04 1.81l2.6 1.5c1.26.62 1.71.62 2.28.62c1.87 0 2.94-1.13 2.94-3.09V11.31a.29.29 0 0 0-.29-.29h-1.25a.286.286 0 0 0-.29.29v10.7c0 .88-.91 1.74-2.38 1.01l-2.72-1.57a.303.303 0 0 1-.16-.27V10.81c0-.12.06-.22.16-.28l9.91-5.72a.29.29 0 0 1 .31 0l9.91 5.72c.1.06.16.16.16.27v10.38c0 .11-.06.22-.15.27l-9.92 5.73a.34.34 0 0 1-.31 0l-2.55-1.51a.23.23 0 0 0-.24-.02c-.71.4-.84.45-1.5.68c-.16.05-.41.15.09.43l3.31 1.96c.32.18.68.28 1.04.28c.37 0 .73-.1 1.05-.28l9.92-5.73c.64-.37 1.04-1.06 1.04-1.81V10.81c0-.75-.4-1.44-1.04-1.81l-9.92-5.73c-.316-.18-.68-.27-1.046-.27m2.666 8.006c-2.83 0-4.52 1.2-4.52 3.2c0 2.17 1.68 2.768 4.4 3.038c3.25.32 3.5.802 3.5 1.442c0 1.1-.89 1.57-2.98 1.57c-2.63 0-3.21-.661-3.4-1.961a.28.28 0 0 0-.28-.24h-1.29a.28.28 0 0 0-.28.28c0 1.67.91 3.66 5.25 3.66c3.14 0 4.94-1.24 4.94-3.4c0-2.14-1.45-2.71-4.49-3.12c-3.09-.4-3.4-.61-3.4-1.33c0-.6.27-1.39 2.55-1.39c2.03 0 2.79.44 3.1 1.81c.03.13.14.23.28.23h1.29c.08 0 .15-.04.21-.1a.27.27 0 0 0 .07-.22c-.2-2.36-1.77-3.47-4.95-3.47z"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361a5.093 5.093 0 0 0-.717-.26a5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529c.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416c.47.197.892.407 1.266.628c.374.222.695.473.963.753c.268.279.472.598.614.957c.142.359.214.776.214 1.253c0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085a4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164a5.544 5.544 0 0 1-1.100-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09c.249-.06.456-.144.623-.25c.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089a2.12 2.12 0 0 0-.537-.5a5.597 5.597 0 0 0-.807-.444a27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405c-.45-.553-.676-1.222-.676-2.005c0-.614.123-1.141.369-1.582c.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629a7.536 7.536 0 0 1 1.77-.201m-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4a3.23 3.23 0 0 1 3.5-1.49a4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4a3.2 3.2 0 0 1-3.5 1.51m-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4a3.23 3.23 0 0 1-3.5 1.49a4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4a3.2 3.2 0 0 1 3.5-1.51"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M19.187 13.909a1.74 1.74 0 0 1-.286-.092a.657.657 0 0 1-.203-.139c.056-.488 0-.912.047-1.392c.184-1.862 1.355-1.272 2.406-1.577c.655-.184 1.31-.562 1.475-1.336a13.528 13.528 0 0 0-2.397-2.204c-2.85-2.028-6.574-2.84-9.958-2.277a5.113 5.113 0 0 0 2.238 2.074s-.917 0-1.703-.587c-.23.092-.692.274-.913.384a5.094 5.094 0 0 0 6.63.37c-.01.017-.185.285-.397 1.4c-.47 2.38-1.826 2.195-3.504 1.596c-3.485-1.264-5.403-.093-7.145-2.49c-.507.286-.82.82-.82 1.402c0 .599.331 1.106.81 1.383c.262-.348.38-.446.836-.446c-.706.4-.79.75-1.094 1.718c-.368 1.171-.212 2.37-1.936 2.683c-.913.046-.894.664-1.226 1.586c-.415 1.199-.968 1.678-2.047 2.812c.443.535.904.6 1.374.406c.968-.406 1.715-1.66 2.415-2.471c.784-.904 2.665-.517 4.085-1.402c.977-.599 1.457-1.41.811-2.784a2.72 2.72 0 0 1 .701 1.66c1.641-.213 3.836 1.788 5.836 2.12a3.574 3.574 0 0 1-.488-.82c-.23-.554-.304-1.06-.258-1.503c.184 1.097 1.29 2.507 3.07 2.637c.452.036.95-.019 1.466-.176c.618-.184 1.19-.424 1.872-.295c.507.093.977.35 1.272.784c.443.645 1.41.784 1.844-.009c-.977-2.554-3.67-2.72-4.813-3.015"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M8.32 0c-3.922 0-5.882 0-7.1 1.219C0 2.438 0 4.399 0 8.32v7.36c0 3.922 0 5.882 1.219 7.101C2.438 24 4.399 24 8.32 24h7.36c3.922 0 5.882 0 7.101-1.219C24 21.562 24 19.601 24 15.68V8.32c0-3.922 0-5.882-1.219-7.101C21.562 0 19.601 0 15.68 0zm.41 7.28h7.83a.16.16 0 0 1 .16.16v7.83h-3.87v-3.71a.41.41 0 0 0-.313-.398l-.086-.012h-3.72zm-.5.25v3.87H4.553a.08.08 0 0 1-.057-.136L8.23 7.529zm.25 4.12h3.87v3.87H8.64a.16.16 0 0 1-.16-.16zm4.12 4.12h3.87l-3.734 3.734a.08.08 0 0 1-.136-.057z"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M7.64 10.38c0 .25.02.45.07.62c.05.12.12.28.21.46c.04.04.05.1.05.15c0 .07-.04.13-.13.2l-.42.28c-.06.04-.12.06-.17.06c-.07 0-.13-.04-.2-.1c-.09-.1-.17-.2-.24-.31c-.06-.11-.13-.24-.2-.39c-.52.61-1.17.92-1.96.92c-.56 0-1-.16-1.33-.48c-.32-.32-.49-.75-.49-1.29c0-.55.2-1 .6-1.36c.41-.34.95-.52 1.63-.52c.23 0 .44.02.71.06c.23.03.5.08.76.14v-.48c0-.51-.1-.84-.31-1.07c-.22-.21-.57-.3-1.08-.3c-.24 0-.48.03-.72.08c-.25.06-.49.13-.72.23c-.11.04-.2.07-.23.08c-.05.02-.08.02-.11.02c-.09 0-.14-.06-.14-.2v-.33c0-.1.01-.18.05-.23c.03-.05.09-.09.18-.12c.24-.14.51-.24.84-.32a3.9 3.9 0 0 1 1.04-.13c.79 0 1.37.18 1.74.54c.37.36.55.91.55 1.64v2.15zm-2.7 1.02c.22 0 .44-.04.68-.12c.24-.08.45-.23.63-.43c.11-.13.19-.27.25-.43c0-.16.05-.35.05-.58v-.27c-.2-.07-.4-.07-.62-.12a6.89 6.89 0 0 0-.62-.04c-.45 0-.77.09-.99.27c-.22.18-.32.43-.32.76c0 .32.07.56.24.71c.16.17.39.25.7.25m5.34.71a.58.58 0 0 1-.28-.06c-.03-.05-.08-.14-.12-.26L8.32 6.65c-.04-.15-.06-.22-.06-.27c0-.11.05-.17.16-.17h.65c.13 0 .22.02.26.07c.06.04.1.13.14.26l1.11 4.4l1.04-4.4c.03-.13.07-.22.13-.26c.05-.04.14-.07.25-.07h.55c.12 0 .21.02.26.07c.05.04.1.13.13.26L14 11l1.14-4.46c.04-.13.09-.22.13-.26c.06-.04.14-.07.26-.07h.62c.11 0 .17.06.17.17c0 .03-.01.07-.02.12c0 0-.02.08-.04.15l-1.61 5.14c-.04.14-.08.21-.15.26c-.04.04-.13.07-.24.07h-.57c-.13 0-.19-.02-.27-.07a.45.45 0 0 1-.12-.26L12.27 7.5l-1.03 4.28c-.03.13-.07.22-.12.27a.49.49 0 0 1-.27.06zm8.55.18c-.33 0-.7-.04-1.03-.12c-.33-.08-.59-.17-.76-.26a.496.496 0 0 1-.21-.19a.392.392 0 0 1-.04-.18v-.34c0-.14.05-.2.15-.2h.12c.04 0 .1.05.17.08c.22.1.47.18.73.23c.27.05.54.08.79.08c.42 0 .75-.07.97-.22c.23-.17.35-.36.35-.63c0-.19-.07-.34-.18-.47c-.12-.12-.35-.24-.67-.34l-.97-.3c-.48-.16-.84-.38-1.06-.68a1.58 1.58 0 0 1-.33-.97c0-.28.06-.52.18-.73c.12-.22.28-.4.46-.55c.22-.15.44-.26.71-.34c.26-.08.54-.12.84-.12c.14 0 .29.01.45.03c.14.02.28.05.42.07c.14.04.26.07.38.11c.12.04.2.08.28.12c.09.05.16.1.2.16c.04.06.06.13.06.22v.32c0 .14-.05.21-.15.21c-.05 0-.14-.03-.26-.08c-.37-.17-.8-.26-1.27-.26c-.38 0-.66.06-.89.19c-.2.12-.31.32-.31.59c0 .19.07.35.2.47c.13.13.38.25.73.37l.95.3c.48.14.82.36 1.03.64c.2.27.3.58.3.93c0 .28-.06.54-.17.77c-.12.22-.28.42-.5.58c-.19.17-.44.29-.72.38c-.28.09-.62.13-.95.13m1.25 3.24C17.89 17.14 14.71 18 12 18c-3.85 0-7.3-1.42-9.91-3.77c-.21-.19-.02-.44.23-.29c2.82 1.63 6.29 2.62 9.89 2.62c2.43 0 5.1-.5 7.55-1.56c.37-.15.68.26.32.53M21 14.5c-.29-.37-1.86-.18-2.57-.1c-.21.03-.24-.16-.05-.3c1.25-.87 3.31-.6 3.54-.33c.24.3-.06 2.36-1.23 3.34c-.19.15-.36.07-.28-.11c.27-.68.86-2.16.59-2.5"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 128 128"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M90.605 76.174c-2.718-.174-4.299-1.72-4.717-4.613c-.112-.77-.112-.79-.124-5.786l-.01-4.836h2.404l.01 4.678c.008 4.216.013 4.71.054 5.006c.163 1.204.49 2.013 1.044 2.594c.444.465.965.737 1.684.882c.34.068 1.306.068 1.616 0a3.571 3.571 0 0 0 1.83-.993c.588-.587 1.023-1.42 1.234-2.362l.071-.318l.008-4.717l.008-4.717h2.455v14.831h-2.43v-1.177c0-.799-.009-1.173-.027-1.167a.972.972 0 0 0-.139.212a4.94 4.94 0 0 1-1.881 1.88c-.916.505-1.836.684-3.091.603zm27.583-.012a6.38 6.38 0 0 1-2.794-.911c-1.74-1.075-2.77-2.848-3.072-5.287c-.104-.843-.117-1.977-.03-2.694c.195-1.603.825-3.176 1.723-4.299c.23-.288.752-.809 1.04-1.039a6.485 6.485 0 0 1 2.655-1.266c.564-.123 1.555-.18 2.154-.125c1.502.139 2.88.846 3.816 1.958c.952 1.13 1.474 2.71 1.541 4.655c.01.305.013.84.006 1.188l-.014.633l-5.264.007l-5.263.006v.235a5.8 5.8 0 0 0 .474 2.22c.259.597.705 1.249 1.07 1.564a4.709 4.709 0 0 0 2.67 1.127c.371.035 1.319-.002 1.743-.067a7.395 7.395 0 0 0 3.287-1.354c.11-.082.214-.159.233-.17c.027-.017.033.196.032 1.095v1.116l-.25.154a8.722 8.722 0 0 1-3.527 1.221c-.38.047-1.775.068-2.23.033m4.582-9.414c0-1.197-.505-2.526-1.22-3.21a3.351 3.351 0 0 0-1.858-.9c-.347-.054-1.077-.034-1.443.04a3.774 3.774 0 0 0-1.969 1.045a5.362 5.362 0 0 0-1.302 2.084c-.1.288-.216.76-.252 1.024l-.017.125h8.06zM51.365 75.79l3.972-10.424l3.961-10.39h2.546l.105.27c.323.826 7.93 20.554 7.93 20.565c0 .006-.61.012-1.354.012h-1.354l-1.096-2.916l-1.097-2.916H56.15l-.038.099c-.021.054-.49 1.366-1.041 2.915l-1.003 2.817h-1.356c-1.074 0-1.355-.006-1.346-.032zm12.807-8.024c0-.005-.737-2.003-1.64-4.44c-1.686-4.56-1.78-4.834-1.914-5.567c-.062-.343-.094-.352-.13-.04a7.275 7.275 0 0 1-.231 1.004c-.044.138-.804 2.22-1.688 4.628a699.007 699.007 0 0 0-1.609 4.4c0 .013 1.623.023 3.606.023c1.984 0 3.606-.004 3.606-.008m6.526 7.677v-.38l4.398-6.039l4.399-6.04l-3.983-.013l-3.982-.013l-.007-1.01l-.007-1.009h11.52v.682l-4.4 6.073c-2.418 3.34-4.398 6.078-4.398 6.084c0 .007 1.956.013 4.346.013h4.346v2.032H70.698zm32.275.362c-.01-.01-.018-3.358-.018-7.441v-7.425h2.405v1.53c0 .843.01 1.532.022 1.532c.013 0 .071-.138.13-.307a5.293 5.293 0 0 1 1.343-2.066a3.483 3.483 0 0 1 1.9-.943c.205-.033.38-.04.792-.029c.518.014.788.052 1.103.154l.1.033v2.492l-.285-.142a3.036 3.036 0 0 0-1.592-.319c-.387.02-.641.07-.95.186a3.009 3.009 0 0 0-1.516 1.236a7.17 7.17 0 0 0-1.005 2.887c-.02.177-.031 1.615-.036 4.45l-.007 4.19h-1.184c-.651 0-1.192-.008-1.202-.018M16.887 44.591a1.934 1.934 0 0 1 1.832 1.315l11.746 34.802a1.934 1.934 0 0 1-1.833 2.552h13.536a1.938 1.938 0 0 0 1.911-1.648a1.933 1.933 0 0 0-.08-.904L32.254 45.906a1.933 1.933 0 0 0-1.832-1.315zm-.437.15a1.937 1.937 0 0 0-1.834 1.317L2.87 80.858a1.932 1.932 0 0 0 1.831 2.55h9.451a1.936 1.936 0 0 0 1.835-1.316l2.296-6.775l-4.387-4.205c-.08-.08-.443-.745-.12-1.308c.362-.543.966-.543.966-.543h5.654l2.968-8.552l-5.075-14.924c-.013-.073-.298-.448-.746-.746c-.448-.3-1.094-.298-1.094-.298zm-1.596 24.774a.891.891 0 0 0-.608 1.543l12.374 11.55c.36.336.818.533 1.31.533c0 0 .42.029.673-.011c.594-.094 1.153-.579 1.338-.783c.476-.634.26-1.62.26-1.62l-3.746-11.213z"
      ></path>
    </svg>
    <svg
      width="80"
      height="80"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M0 17.57h4.248l-1.316 3.974H0zm0-7.557h6.75l-1.316 3.974H0zm0-7.557h9.252L7.936 6.431H0zm13.44 0H24v3.975H12.123zM9.62 13.987l1.317-3.974H24v3.974zM8.436 17.57H24v3.975H7.119Z"
      ></path>
    </svg>
    <svg
      width="120"
      height="100"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill="currentColor"
        d="M4.586 9.346a.538.538 0 0 0-.34.113a.561.561 0 0 0-.197.299L2.74 14.654h.922a.528.528 0 0 0 .332-.113a.561.561 0 0 0 .2-.291l.968-3.604h.744a.677.677 0 0 1 .317.077a.703.703 0 0 1 .24.199a.732.732 0 0 1 .129.281a.65.65 0 0 1-.01.326a.698.698 0 0 1-.676.526h-.385a.538.538 0 0 0-.337.113a.561.561 0 0 0-.2.291l-.24.896h1.201a1.939 1.939 0 0 0 1.62-.867a1.988 1.988 0 0 0 .265-.586l.027-.1a1.854 1.854 0 0 0 .026-.907a1.973 1.973 0 0 0-1.031-1.34a1.875 1.875 0 0 0-.88-.21zm18.447 0a.401.401 0 0 0-.25.082a.377.377 0 0 0-.14.217l-1.334 5.01a1.7 1.7 0 0 0 .57-.096a1.806 1.806 0 0 0 .496-.266a1.74 1.74 0 0 0 .385-.408a1.648 1.648 0 0 0 .234-.531l.996-3.696a.23.23 0 0 0-.045-.217a.246.246 0 0 0-.2-.095zM8.381 10.643l-.133.503a.564.564 0 0 0-.006.26a.544.544 0 0 0 .1.221a.552.552 0 0 0 .185.154a.53.53 0 0 0 .252.06h2.157a.101.101 0 0 1 .084.038a.098.098 0 0 1 .015.088l-.02.072l-.324 1.201l-.013.055a.172.172 0 0 1-.067.105a.205.205 0 0 1-.127.04H9.178a.147.147 0 0 1-.12-.057a.136.136 0 0 1-.027-.13c.022-.074.071-.112.147-.112h.808a.53.53 0 0 0 .332-.112a.564.564 0 0 0 .2-.293l.132-.498H8.84a1.131 1.131 0 0 0-.38.065a1.152 1.152 0 0 0-.323.176a1.194 1.194 0 0 0-.256.271a1.052 1.052 0 0 0-.156.346l-.028.1a1.095 1.095 0 0 0-.013.533a1.203 1.203 0 0 0 .212.464a1.141 1.141 0 0 0 .918.453l2.157.006a.899.899 0 0 0 .875-.67l.525-1.95a1.101 1.101 0 0 0 .01-.514a1.114 1.114 0 0 0-.205-.444a1.149 1.149 0 0 0-.377-.312a1.048 1.048 0 0 0-.498-.12zm-6.397.01a1.924 1.924 0 0 0-.638.107a1.989 1.989 0 0 0-.553.295a1.962 1.962 0 0 0-.7 1.045l-.027.1a1.936 1.936 0 0 0-.023.905a1.955 1.955 0 0 0 .361.786a1.986 1.986 0 0 0 .668.554a1.875 1.875 0 0 0 .88.21h.464l.266-.983a.23.23 0 0 0-.043-.215a.239.239 0 0 0-.198-.096h-.423a.702.702 0 0 1-.319-.074a.67.67 0 0 1-.24-.195a.732.732 0 0 1-.127-.281a.706.706 0 0 1 .01-.34a.73.73 0 0 1 .256-.377a.675.675 0 0 1 .42-.14h.697a.538.538 0 0 0 .338-.114a.561.561 0 0 0 .199-.297l.232-.89zm11.08 0l-.982 3.689a.23.23 0 0 0 .045.217a.238.238 0 0 0 .195.095h.711a.413.413 0 0 0 .248-.08a.363.363 0 0 0 .143-.21l.644-2.41h.745a.678.678 0 0 1 .318.075a.708.708 0 0 1 .238.2a.735.735 0 0 1 .129.28a.65.65 0 0 1-.01.327l-.398 1.506a.243.243 0 0 0 .24.312h.713a.403.403 0 0 0 .244-.08a.366.366 0 0 0 .143-.213l.332-1.248a1.897 1.897 0 0 0 .029-.908a1.955 1.955 0 0 0-.361-.79a1.987 1.987 0 0 0-.668-.554a1.889 1.889 0 0 0-.885-.209h-1.813zm5.793 0a1.458 1.458 0 0 0-.488.081a1.489 1.489 0 0 0-.752.58a1.493 1.493 0 0 0-.205.454l-.406 1.505a1.018 1.018 0 0 0-.016.508a1.139 1.139 0 0 0 .205.446a1.095 1.095 0 0 0 .377.312a1.071 1.071 0 0 0 .498.115h2.502a.528.528 0 0 0 .332-.113a.561.561 0 0 0 .2-.291l.21-.791h-2.748a.2.2 0 0 1-.191-.252l.299-1.127a.34.34 0 0 1 .113-.162a.281.281 0 0 1 .18-.064h1.232a.153.153 0 0 1 .147.193l-.026.1c-.022.075-.071.113-.146.113h-.81a.538.538 0 0 0-.339.111a.526.526 0 0 0-.191.293l-.133.49h2.004a.887.887 0 0 0 .547-.181a.864.864 0 0 0 .32-.483l.12-.45a1.11 1.11 0 0 0 .013-.513a1.076 1.076 0 0 0-.203-.443a1.146 1.146 0 0 0-.375-.313a1.047 1.047 0 0 0-.498-.119h-1.772Z"
      ></path>
    </svg>
  </div>
</div>
